<!DOCTYPE html>
<html>
    <head>
        <title>
            nextlevel
        </title>
    </head>
    <body>
            <p id="paraid1"></p>
            <p id="paraid2"></p>
            <h1>nextlevel</h1>
          <form action='/index' method='post'>
            <input id="input1" placeholder="eg:data1(or)data2" name='datanumber'>
            <input id="input2" placeholder="enter the name/age" name='naem/age'><br>
            <button style="color:burlywood">submit</button>
        </form>
    </body>
   <!-- / <script src="./index.js" >
     </script> -->
</html>